# Python Learning Resources

## Official Python Tutorial
The official Python documentation tutorial. It's a great place to start learning Python from scratch, covering all the basics and more.  
[Official Python Tutorial](https://docs.python.org/3/tutorial/index.html)

## 60 Days of Python - YouTube Playlist
A comprehensive YouTube playlist designed to teach you Python in 60 days, covering various topics and projects to build your skills.  
[60 Days of Python - YouTube Playlist](https://www.youtube.com/playlist?list=PLKdU0fuY4OFf7qj4eoBtvALAB_Ml2rN0V)

## 60 Days of Python - GitHub Repository
The GitHub repository for the 60 Days of Python series. It includes all the code and resources used in the YouTube playlist.  
[60 Days of Python - GitHub Repository](https://github.com/rashakil-ds/60-Days-of-Python-by-Study-Mart-AI-QUEST)

## Python Notes for Professionals - PDF
A free PDF book that offers a wide range of Python notes for professionals. It's a useful reference guide for both beginners and advanced users.  
[Python Notes for Professionals - PDF](https://github.com/rashakil-ds/Top-Data-Science-AI-Book-Collection/blob/main/Books/Python%20Notes%20For%20Professionals.pdf)

# Break and Continue Statements in Python

## Break Statement

The `break` statement is used to exit a loop prematurely when a certain condition is met.

### Example of Break Statement
```python
for i in range(10):
    if i == 5:
        break
    print(i)

In [1]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [4]:
data = ['a','b','c','d']
for i in data:
    if i =='c':
        break
    print(i)

a
b

# Continue Statement in Python

The `continue` statement in Python is used to skip the current iteration of a loop and proceed to the next iteration. This can be useful when you want to skip certain values or conditions within a loop without terminating the entire loop.

## Syntax

The syntax of the `continue` statement is simple:

```python
continue

#### Example:-
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

In [5]:
data = ['a','b','c','d']
for i in data:
    if i =='c': # except c
        continue
    print(i)

a
b
d

In [6]:
for i in range(10):
    if i % 2 == 0: #true hole skip -> odd
        continue
    print(i)

1
3
5
7
9

break -> stop <br>
continue -> skip

# Data Structures in Python

Python provides several `built-in` data structures to store and manage data efficiently. These data structures include lists, tuples, dictionaries, sets, and more. Each data structure has unique properties and methods, making them suitable for different types of applications.

### Type of Data Structures in Python

- String
- List
- Tuple
- Set
- Dictionary

# 1. Lists in Python

A list is an ordered, changeable, mutable collection of elements. It also allowed duplicates. Lists can contain elements of different types.

### Example:
```python
dept = ["ai", "ds", "da", "nlp"]
print(dept)

In [7]:
dept = ["ai", "ds", "da", "nlp"] #list()
print(dept)

['ai', 'ds', 'da', 'nlp']

In [9]:
type(dept)

list

In [10]:
dept[0]

'ai'

In [11]:
dept[3]

'nlp'

In [12]:
dept[-1]

'nlp'

In [13]:
dept[1:3] # indexing is always n = n-1

['ds', 'da']

In [14]:
x = ["ai", "ds", "da", "nlp", 1,2,3,4,True, False,[1,2,3],{1,2,3}]

In [15]:
x

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}]

In [16]:
x[4:]

[1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}]

In [17]:
x[:3]

['ai', 'ds', 'da']

In [19]:
x[10]

[1, 2, 3]

In [20]:
x[10][0]

1

In [21]:
import sys
sys.getsizeof(x)

152

In [22]:
import sys
sys.getsizeof(tuple(x))

136

In [23]:
x[:10]

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False]

# Common List Methods in Python

In Python, lists are versatile and come with a variety of built-in methods to manipulate and manage the elements they contain. Below are some common list methods illustrated with the example list `dept = ["ai", "ds", "da", "nlp"]`.

```python
dept = ["ai", "ds", "da", "nlp"]
print(dept)

### Common List Methods:

- `append()`
- `insert()`
- `remove()`
- `pop()`
- `clear()`
- `index()`
- `count()`
- `sort()`
- `reverse()`
- `copy()`

dept = ["ai", "ds", "da", "nlp"] <br>
print(dept) <br>
Output: ['ai', 'ds', 'da', 'nlp']

# Append
dept.append("cv") <br>
print(dept) <br> 
Output: ['ai', 'ds', 'da', 'nlp', 'cv']

# Insert
dept.insert(1, "ml") <br>
print(dept)  <br>
Output: ['ai', 'ml', 'ds', 'da', 'nlp', 'cv']

# Remove
dept.remove("ds") <br>
print(dept)  <br>
Output: ['ai', 'ml', 'da', 'nlp', 'cv']

# Pop
removed_element = dept.pop(2) <br>
print(removed_element)  <br>
Output: 'da' <br>
print(dept)  <br>
Output: ['ai', 'ml', 'nlp', 'cv']

# Clear
dept.clear() <br>
print(dept)  <br>
Output: []

# Reinitialize
dept = ["ai", "ds", "da", "nlp"]

# Index
index_ds = dept.index("ds") <br>
print(index_ds)  <br>
Output: 1

# Count
count_ai = dept.count("ai") <br>
print(count_ai)  <br>
Output: 1

# Sort
dept.sort() <br>
print(dept)  <br>
Output: ['ai', 'da', 'ds', 'nlp']

# Reverse
dept.reverse() <br>
print(dept)  <br>
Output: ['nlp', 'ds', 'da', 'ai']

# Copy
dept_copy = dept.copy() <br>
print(dept_copy)  <br>
Output: ['nlp', 'ds', 'da', 'ai']

# Let's practice list methods

In [24]:
x

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}]

In [25]:
x.append('ai')

In [26]:
x

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}, 'ai']

In [27]:
x.insert(0,'pa') #shift+tab

In [28]:
x

['pa',
 'ai',
 'ds',
 'da',
 'nlp',
 1,
 2,
 3,
 4,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 'ai']

In [29]:
x.remove('pa')

In [30]:
x

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}, 'ai']

In [31]:
x.pop(10)

[1, 2, 3]

In [32]:
x

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, {1, 2, 3}, 'ai']

In [33]:
del x[11]

In [34]:
x

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, {1, 2, 3}]

In [35]:
del x[-1]

In [36]:
del x[-1]

In [41]:
x = ['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}]
del x[-2][-1]

In [42]:
x

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2], {1, 2, 3}]

In [43]:
x.reverse()

In [44]:
x

[{1, 2, 3}, [1, 2], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 'ai']

In [46]:
x.count('ai')

1

In [ ]:
#x.sort()

In [47]:
x

[{1, 2, 3}, [1, 2], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 'ai']

In [48]:
x[0] = 100
x

[100, [1, 2], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 'ai']

# 2. Tuples in Python

A tuple is an ordered, immutable collection of elements in Python. Tuples can contain elements of different types and are often used to group related data. Once a tuple is created, its elements cannot be changed.

## Creating Tuples

Tuples can be created by placing a comma-separated sequence of elements inside parentheses.

### Example:
```python
# Creating a tuple
coordinates = (10.0, 20.0)
print(coordinates)  # Output: (10.0, 20.0)

# Creating a tuple without parentheses (not recommended but valid)
coordinates = 10.0, 20.0
print(coordinates)  # Output: (10.0, 20.0)

In [49]:
x

[100, [1, 2], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 'ai']

In [50]:
x = tuple(x)

In [51]:
type(x)

tuple

In [54]:
#x[0] = 10 ; TypeError: 'tuple' object does not support item assignment

In [55]:
x = list(x)
x[0] = 10
x = tuple(x)

In [56]:
x

(10, [1, 2], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 'ai')

In [57]:
x.count('ai')

1

In [58]:
x.index('nlp')

8

In [59]:
x[0]

10

# Tuple Slicing in Python

Tuples in Python are immutable sequences, typically used to store collections of heterogeneous data. Slicing is a technique used to retrieve a subset of elements from a tuple. It is similar to slicing in lists and strings.

## Basic Syntax

The syntax for slicing a tuple is as follows:

```python
tuple[start:stop:step]

In [60]:
x[1:5:2]

([1, 2], True)

In [61]:
x

(10, [1, 2], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 'ai')

In [62]:
x[0:3]

(10, [1, 2], False)

In [63]:
x[4:]

(4, 3, 2, 1, 'nlp', 'da', 'ds', 'ai')

In [64]:
x[0:3] + x[4:] #join

(10, [1, 2], False, 4, 3, 2, 1, 'nlp', 'da', 'ds', 'ai')

# 3. Sets in Python

A set is an unordered collection of unique elements in Python. Sets are mutable, meaning you can add or remove elements, but they do not allow duplicate values.

## Creating Sets

Sets can be created using curly braces `{}` or the `set()` function.

### Example:
```python
# Creating a set with curly braces
dep = {"ai", "ml", "ds"}
print(dep)  # Output: {"ai", "ml", "ds"}

# Creating a set with the set() function
numbers = set([1, 2, 3, 4, 5])
print(numbers)  # Output: {1, 2, 3, 4, 5}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()

In [65]:
s1 = {1,2,3}
s2 = {3,4,5}

In [66]:
s1

{1, 2, 3}

In [68]:
#s1[0] ; TypeError: 'set' object is not subscriptable

In [69]:
s1.add(0)

In [70]:
s1

{0, 1, 2, 3}

In [71]:
s1.remove(0)

In [72]:
s1

{1, 2, 3}

In [74]:
# s1.remove(0) ; KeyError: 0

In [75]:
s1 = {1,2,3,6,6}
s2 = {3,4,5}

In [76]:
s1

{1, 2, 3, 6}

In [77]:
s1.discard(6)

In [78]:
s1

{1, 2, 3}

In [79]:
s1.discard(6)

In [80]:
s1.discard(6)

In [81]:
s1.add(6)
s1

{1, 2, 3, 6}

In [82]:
s1.pop()

1

In [83]:
s1

{2, 3, 6}

In [84]:
s1

{2, 3, 6}

In [85]:
s2

{3, 4, 5}

In [87]:
#intersection
s1.intersection(s2)

{3}

In [88]:
s1.union(s2)

{2, 3, 4, 5, 6}

In [89]:
s1 | s2  #union

{2, 3, 4, 5, 6}

In [91]:
s1 & s2 #intersection

{3}

In [94]:
print(s1)
print(s2)

{2, 3, 6}
{3, 4, 5}

In [93]:
s1.difference(s2)

{2, 6}

In [95]:
s2.difference(s1)

{4, 5}

In [96]:
s1.symmetric_difference(s2)

{2, 4, 5, 6}

# 4. Frozen Sets in Python

A `frozenset` is an `immutable version` of a set. Once created, elements cannot be added or removed from a `frozenset`. This makes `frozenset` hashable and eligible to be used as keys in dictionaries or elements of other sets.

## Creating Frozen Sets

Frozen sets can be created using the `frozenset()` function.

### Example:
```python
# Creating a frozenset
frozen_fruits = frozenset(["ai", "ds", "ml"])
print(frozen_fruits)  # Output: frozenset({"ai", "ds", "ml"})

In [97]:
s1

{2, 3, 6}

In [98]:
sf = frozenset(s1)

In [99]:
sf

frozenset({2, 3, 6})

In [100]:
type(sf)

frozenset

In [102]:
# sf.add(3) -> AttributeError: 'frozenset' object has no attribute 'add'

In [104]:
#sf.remove(2) -> AttributeError: 'frozenset' object has no attribute 'add'

# 5. Dictionaries in Python

A dictionary is an unordered collection of key-value pairs. Keys must be unique and immutable (such as strings, numbers, or tuples), while values can be of any data type.

## Creating Dictionaries

Dictionaries can be created using curly braces `{}` with key-value pairs or the `dict()` function.

### Example:
```python
# Creating a dictionary using curly braces
person = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}
print(person)  # Output: {'name': 'Shakil', 'age': 27, 'city': 'Munich'}

# Creating a dictionary using the dict() function
person = dict(name="Shakil", age=28, city="Erlangen")
print(person)  # Output: {'name': 'Shakil', 'age': 28, 'city': 'Erlangen'}

In [105]:
dic = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}

In [106]:
dic

{'name': 'Shakil', 'age': 27, 'city': 'Munich'}

In [107]:
type(dic)

dict

In [109]:
dic.values()

dict_values(['Shakil', 27, 'Munich'])

In [111]:
dic.keys()

dict_keys(['name', 'age', 'city'])

In [112]:
dic.pop('city')

'Munich'

In [113]:
dic

{'name': 'Shakil', 'age': 27}

In [115]:
del dic['age']

In [116]:
dic

{'name': 'Shakil'}

In [117]:
dic['name']

'Shakil'

In [118]:
dic.get('name')

'Shakil'

In [119]:
dic['varsity'] = 'FAU'

In [120]:
dic

{'name': 'Shakil', 'varsity': 'FAU'}

In [121]:
dic.update({'varsity': 'ABC'})

In [122]:
dic

{'name': 'Shakil', 'varsity': 'ABC'}

# Importance of Copy()

In [123]:
x = [10, 20, 40]

In [124]:
y = x

In [125]:
y

[10, 20, 40]

In [126]:
y[0] = 100
y

[100, 20, 40]

In [127]:
x

[100, 20, 40]

In [128]:
z = x.copy()
z

[100, 20, 40]

In [129]:
z[0] = 30
z

[30, 20, 40]

In [130]:
x

[100, 20, 40]

# Using `frozenset` as Dictionary Keys and Set Elements

Since `frozenset` is immutable, it is hashable and can be used as keys in dictionaries or as elements in other sets. This property makes `frozenset` very useful in scenarios where the uniqueness of collections of items needs to be maintained in a hash-based structure.

## Using `frozenset` as Dictionary Keys

### Example:
```python
# Creating frozensets
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([4, 5, 6])

# Using frozensets as dictionary keys
frozen_set_dict = {
    fs1: "Group 1",
    fs2: "Group 2"
}

print(frozen_set_dict)
# Output: {frozenset({1, 2, 3}): 'Group 1', frozenset({4, 5, 6}): 'Group 2'}

# Accessing values using frozenset keys
print(frozen_set_dict[fs1])  # Output: Group 1
print(frozen_set_dict[fs2])  # Output: Group 2

In [131]:
# Creating frozensets
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([4, 5, 6])

# Using frozensets as dictionary keys
frozen_set_dict = {
    fs1: "Group 1",
    fs2: "Group 2"
}

print(frozen_set_dict)
# Output: {frozenset({1, 2, 3}): 'Group 1', frozenset({4, 5, 6}): 'Group 2'}

# Accessing values using frozenset keys
print(frozen_set_dict[fs1])  # Output: Group 1
print(frozen_set_dict[fs2])  # Output: Group 2

{frozenset({1, 2, 3}): 'Group 1', frozenset({4, 5, 6}): 'Group 2'}
Group 1
Group 2

# List Comprehension: Elegant Way to Create Lists

List comprehension provides a concise way to create lists in Python. It consists of brackets containing an expression followed by a `for` clause, and optionally `if` clauses. List comprehensions are a more compact and readable alternative to using loops for creating lists.

## Basic Syntax

```python
[expression for item in iterable if condition]

## Components
1. expression: The expression is the value or operation that is applied to each element. <br>
2. item: The variable that takes the value of the item inside the iterable. <br>
3. iterable: A collection of elements (e.g., list, tuple, string) to iterate over. <br>
4. condition (optional): A condition to filter items from the iterable.

squares = [x**2 for x in range(10)] <br>
print(squares) <br>
Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [133]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [136]:
[i**2 for i in range(10) if i%2==0]

[0, 4, 16, 36, 64]

# Tuple Comprehension in Python

Although Python does not support tuple comprehensions directly, you can achieve similar functionality using generator expressions or by converting a list comprehension to a tuple.

## Generator
A generator in Python is a special type of `iterable` that allows you to iterate over a sequence of values. Unlike lists, which store all values in memory, a generator computes each value on the fly and yields it one at a time, which makes it more memory efficient, especially for large datasets. <br>

#Generator expression to generate squares of even numbers from 0 to 9 <br>
even_squares = (x**2 for x in range(10) if x % 2 == 0)

## Using Generator Expressions

A generator expression is similar to a list comprehension, but it uses parentheses `()` instead of square brackets `[]`. It generates items one by one and is more memory efficient than a list comprehension.

### Example:
```python
# Generator expression
gen_expr = (x**2 for x in range(10))

# Converting generator expression to tuple
tuple_from_gen_expr = tuple(gen_expr)
print(tuple_from_gen_expr)
# Output: (0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [140]:
print(tuple((i**2 for i in range(10) if i%2==0)))

(0, 4, 16, 36, 64)

In [141]:
li = [i**2 for i in range(10) if i%2==0]
li

[0, 4, 16, 36, 64]

In [142]:
gen = (i**2 for i in range(10) if i%2==0)
tp = tuple(gen)

In [143]:
tp

(0, 4, 16, 36, 64)

# Memory Comparison

In [145]:
import sys
print(sys.getsizeof(li))
print(sys.getsizeof(tp))

120
80

In [146]:
dic

{'name': 'Shakil', 'varsity': 'ABC'}

# Working with Pandas DataFrame

In this example, we will create a Pandas DataFrame using the dictionary:
```python
person = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}

#!pip install library_name <br>
#!pip install pandas

In [148]:
#!pip install pandas

In [152]:
import pandas as pd

In [153]:
people = [
    ["Shakil", 27, "Munich"],
    ["ABC", 25, "Berlin"],
    ["DEF", 30, "Hamburg"],
    ["JKL", 35, "Munich"]
]

In [154]:
people

[['Shakil', 27, 'Munich'],
 ['ABC', 25, 'Berlin'],
 ['DEF', 30, 'Hamburg'],
 ['JKL', 35, 'Munich']]

In [155]:
d1 = pd.DataFrame(people)
d1

        0   1        2
0  Shakil  27   Munich
1     ABC  25   Berlin
2     DEF  30  Hamburg
3     JKL  35   Munich

In [156]:
d1 = pd.DataFrame(people, columns=['name','age','city'])
d1

     name  age     city
0  Shakil   27   Munich
1     ABC   25   Berlin
2     DEF   30  Hamburg
3     JKL   35   Munich

In [157]:
d1 = pd.DataFrame(people, columns=['name','age','city'], index=['a','b','c','d'])
d1

     name  age     city
a  Shakil   27   Munich
b     ABC   25   Berlin
c     DEF   30  Hamburg
d     JKL   35   Munich

In [159]:
d1.name

a    Shakil
b       ABC
c       DEF
d       JKL
Name: name, dtype: object

In [160]:
d1.city

a     Munich
b     Berlin
c    Hamburg
d     Munich
Name: city, dtype: object

In [162]:
d1[['city']]

      city
a   Munich
b   Berlin
c  Hamburg
d   Munich

In [163]:
d1.head(2)

     name  age    city
a  Shakil   27  Munich
b     ABC   25  Berlin

In [167]:
d1.drop(['city'], axis = 1)

     name  age
a  Shakil   27
b     ABC   25
c     DEF   30
d     JKL   35