Listintt = [23,4,5,5,6,7]
print(Listintt)

In [ ]:
Listintt[0]=10
print(Listintt[0])

In [ ]:
StringList=["Tamanna","Tanshin","Dudu","BuBu",88,384]
print(StringList)

list[True,False,True]
print(list)

print("Tamanna Akter")

#  ADD


# append() diye sudhu last e add kora jabe

A=[3,4,5,5,6,"Tamanna"]
A.append("Tanshin")
print(A)

# insert() diye jekono jaygay insert kora jabe
A=[4,5,"T",38]
A.insert(0,"Love")
print(A)

# Delete

# Delete by remove() ,,,,, sorasori bole dite hobe kake remove korbo

B=[2,4 ,6 ,6,"Tam","thshd"]

B.remove(6)
B.remove("thshd")
print(B)

# Delete by pop(),,,,,,,,Index number diye jekonota remove kora jabe

C=[98,53,5,6,3,6,7,2]
C.pop(4)
C.pop(1)
C.pop(0)

#pop() eivabe rakhle last element delete korbe

C.pop()
print(C)

# Delete by del() ,,,,,,,,Index number diye jekonota remove kora jabe

D=[7,4,5,"Tamana",6,3,5,3]
del D[3]
print(D)

# Delete by clear(),,,,,,,,Index shob eksathe delete hobe

W=[3,23,4,5,6,6,4,2,3,22,4,4,3,4,3,2]
print("List is",W)

W.clear()
print("Lis is", W)

## For loop

List=['tamanna','Tanshin','Shanri','binota']

for love in List:
   
    print("\n",love)
   
print("\n",List)

## For loop

List=['tamanna','Tanshin','Shanri','binota']

for love in List:
   
    print(List)
   
print("\n",List)

### Range

A=[3,4,5,6,78,9,0]
for x in range(len(A)):
    print(A)

### Range,,,,,Index print korbe

A=[3,4,5,6,78,9,0]
for x in range(len(A)):
    print(x)

## while loop ,,,, 

A=[3,5,7,8,9,0]
y=0
while y < len(A):
    print(A[y])
    y=y+1

## while loop ,,,, 

A=[3,5,7,8,9,0]
y=0
while y < 4:
    print(A[y])
    y=y+1

## while loop ,,,, infinity loop,,,jokhn increment na korbo

A=[3,5,7,8,9,0]
y=0
while y < len(A):
    print(A[y])

In [ ]:
##Range

for i in range(6):
    print(i)

In [ ]:
for i in range(6,1,-2):
    print(i)

In [ ]:
for i in range(1,6,2):
    print(i)

In [ ]:
n=10
for i in range(n):
    print(i)

In [ ]:
n =10
for i in range(n):
    print(n)

In [ ]:
n=int(input("Enter a value:"))
for i in range(n):
    print(i)

In [ ]:
name='Tamanna'

for i in name:
    
    print(i,end="")

In [ ]:
name='Tamanna'

for i in name:
    print(i)

In [ ]:
name="Tamanna Akter"
for i in name:
    print(name)

# list,,,,,


Student_info=["Tamanna",221,"CSE"]
Students_ID=[100,222,["Tamanna",221,"CSE"]]
print(len(Student_info))

# Add append

list=[] #Empty list
list.append("Tamanna")
list.append("Tanshin")
print(list)

# Add insert

List = [477,"Tamanna","TAnsjkd",668]
List.insert(2,"Tanshin")
print(List)
List.insert(5,"Dudu")
print(List)
List.insert(4,"Bubu")
print(List)

# Delete pop function

List.pop(3)
print(List)

# Index number  ber kora

List=[3,5,6,783,32,23,4]
List.index(6)
print(List.index(3))

# Reverse Function Ultay deowa

List=[1,23.4,6.7,8,5,4]
List.pop(3)
print(List)
List.reverse()
print(List)

# Sorting list

List=["n1","n3","n2","n7"]
List.sort()
print(List)

List=["Tamanna","Akbor","n1","n3","Nipa","Babi","n2","n7"]
List.sort()
print(List)

# ### Range

A=[3,4,5,6,78,9,0]
for x in range(len(A)):
    print(A)


### Range,,,,,Index print korbe

A=[3,4,5,6,78,9,0]
for x in range(len(A)):
    print(x)



## while loop ,,,, 

A=[3,5,7,8,9,0]
y=0
while y < len(A):
    print(A[y])
    y=y+1


## while loop ,,,, 

A=[3,5,7,8,9,0]
y=0
while y < 4:
    print(A[y])
    y=y+1



## while loop ,,,, infinity loop,,,jokhn increment na korbo

A=[3,5,7,8,9,0]
y=0
while y < len(A):
    print(A[y])
    



for i in range(6):
    print(i)

for i in range(6,1,-2):
    print(i)
    

for i in range(1,6,2):
    print(i)

n=10
for i in range(n):
    print(i)

n =10
for i in range(n):
    print(n)

n=int(input("Enter a value:"))
for i in range(n):
    print(i)

name='Tamanna'

for i in name:
    
    print(i,end="")

name='Tamanna'

for i in name:
    print(i)

name="Tamanna Akter"
for i in name:
    print(name)

#list,,,,,


Student_info=["Tamanna",221,"CSE"]
Students_ID=[100,222,["Tamanna",221,"CSE"]]
print(len(Student_info))


 


#Add append

list=[] #Empty list
list.append("Tamanna")
list.append("Tanshin")
print(list)

#Add insert

List = [477,"Tamanna","TAnsjkd",668]
List.insert(2,"Tanshin")
print(List)
List.insert(5,"Dudu")
print(List)
List.insert(4,"Bubu")
print(List)

# Delete pop function

List.pop(3)
print(List)

# Index number  ber kora

List=[3,5,6,783,32,23,4]
List.index(6)
print(List.index(3))



#Reverse Function Ultay deowa

List=[1,23.4,6.7,8,5,4]
List.pop(3)
print(List)
List.reverse()
print(List)



#Sorting list

List=["n1","n3","n2","n7"]
List.sort()
print(List)

List=["Tamanna","Akbor","n1","n3","Nipa","Babi","n2","n7"]
List.sort()
print(List)

# Extend method,,,,,2 ta list add kora 

List1=[2,34,5,6,6]
List2=[4,56,7,7,3,2]
List3=[3.2,3,4,55,5]
       
List1.extend(List2)

print(List1) 
List3.clear()
print("List is empty:",List3)

# count (ekta perticular value ekta list e koto bar ache)
List=[2,2,34,5,6,6]
print(List.count(2))

# Nested list

Student=["Tamanna","Tanshin"]
Id=[11,2,2,3,4,Student]
print(Id)

In [ ]:
Student_Info=["Tamanna","Tanana","Tanshin"]
x=int(input("Enter the value:"))
Student_Info.append(x)
print(Student_Info)

In [ ]:
Student_Info=["Tamanna","Tanana","Tanshin"]
i=0
while i<5:
    x=int(input("Enter the value:"))
    i=i+1
    Student_Info.append(x)
    print(Student_Info)



Student_Info=["Tamanna","Tanana","Tanshin"]


for i in range(n):
    x=int(input("Enter the value:"))
    Student_Info.append(x)
    print(Student_Info)

In [7]:
Student_Info=["Tamanna","Tanana","Tanshin"]


for i in range(6):
    x=int(input("Enter the value:"))
    Student_Info.append(x)
    print(Student_Info)

Enter the value:2
['Tamanna', 'Tanana', 'Tanshin', 2]
Enter the value:3
['Tamanna', 'Tanana', 'Tanshin', 2, 3]
Enter the value:4
['Tamanna', 'Tanana', 'Tanshin', 2, 3, 4]
Enter the value:5
['Tamanna', 'Tanana', 'Tanshin', 2, 3, 4, 5]
Enter the value:6
['Tamanna', 'Tanana', 'Tanshin', 2, 3, 4, 5, 6]
Enter the value:6
['Tamanna', 'Tanana', 'Tanshin', 2, 3, 4, 5, 6, 6]

###### Student_Info=["Tamanna","Tanana","Tanshin"]
i=0
while i<3:
    x=int(input("Enter the value:"))
    i=i+1
    Student_Info.append(x)
print(Student_Info)

### Copy method

Student_Info=["Tamanna","Tanana","Tanshin"]
Student_Info=Student_Info.copy()
print("Student_Info1",Student_Info)

Student_Info=["Tamanna","Tanshin"]

Student_Info2=Student_Info.copy()
print("Student_Info1",Student_Info2)

# Shallo copy

Student_Info=["Tamanna","Tanan","Tanshin"]


print("Student_Info1",Student_Info)
Student_Info=["Tamanna","Tanshin"]

Student_Info2=Student_Info.copy()
print("Student_Info1",Student_Info2)