In [ ]:
#Arithmetic Operator
#Addition, Subtraction, Multiplication, Division,Division, Modulus
A = 10
B = 20
print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A%B)

#Exponentiation
X=10
Y=3
print(X**Y) #10*10*10

#Floor division

x=15
y=2

print(x//y)
print(x/y)

30
-10
200
0.5
10
1000
7
7.5

In [ ]:
#Assignment Operators
#1.

a=10
b=a+20
print(b)
#or
a += 20
print(a)

#2.

b=10
c=b-5
print(c)
#or
b -=5
print(b)

#3.
m=10
n=m*2
print(n)
#or
m *=2
print(m)
m**=2
print(m)
m /=2
print(m)
m//=2
print(m)
m%=2
print(m)

30
30
5
5
20
20
400
200.0
100.0
0.0

In [ ]:
#Comparison Operator

x=5
y=2
print(x==y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)
print(x!=y)

False
False
True
False
True
True

In [ ]:
#Logical Operator

#and
#or
#not

In [ ]:
#swapping

s=10
k=20
s,k=k,s
print(s,k)
print("the value of s is=",s)
print("the value of k is=",k)

20 10
the value of s is= 20
the value of k is= 10