In [ ]:
print("Tamanna Welcome to colab")

Tamanna Welcome to colab

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
#comment here
print(55)

55

In [ ]:
"' multiple comment'"
print('hello dear')

hello dear

In [ ]:
#variable

Tamanna='oh fine!'
Delowar= "Nice"

print(Delowar)

Nice

In [ ]:
print(Tamanna)

oh fine!

In [ ]:
print('Tamanna')

Tamanna

In [ ]:
#dataType
#string type

hablu='computer mama'
habla="laptop"
print(hablu,habla)

computer mama laptop

In [ ]:
#Number type data
#int
a=10
#float
b=10.5
print(a)
#for checking data type
print(type(a))

10
<class 'int'>

In [ ]:
m

In [ ]:
#complex type data (NOT Valid i (j means complex )
kudu=420j
print(kudu)
print(type(kudu))

420j
<class 'complex'>

In [ ]:
#string type data
Your_name='Delowar'
My_name= "Tamanna"
print(Your_name + My_name)
b=""
print(b)
print(type(b))

print("The name is"+My_name )
print("The name is" + '   ' +My_name )
print("The name is" + ' *** ' +My_name )

DelowarTamanna

<class 'str'>
The name isTamanna
The name is   Tamanna
The name is *** Tamanna

In [ ]:
#Boolean data type(True or False)


hablu = 'True'
habla='False'
hablu = True
habla=False
print(hablu)

x=10
y=10
print(x==y)
print(x<y)
print(x>=y)
print(type(hablu))
print(type(y))

True
True
False
True
<class 'bool'>
<class 'int'>

In [ ]:
from os import name
#string formating(string er upor opration-,+,....)
#keyword f
x=10
y=22
print("The super number is {x+y}")
print(f"The super number is {x+y}")
print("The super number is ", x+y)
Number_size= 'smaller than'
print(f"The super number is {Number_size}", x+y)

name='Tamanna'
roll=1
print(f"My Name is {name} &  My Class roll is {roll}")
print("My Name is {name} &  My Class roll is {roll}")

The super number is {x+y}
The super number is 32
The super number is  32
The super number is smaller than 32
My Name is Tamanna &  My Class roll is 1
My Name is {name} &  My Class roll is {roll}

In [ ]:
#Binary type data
#bytes holo immutable (mane data cgange kora jayna)
#bytearray holo mutable, (mane data cgange kora jay)

arry1=[1,2,3,4,5,6,7,8,9]

p=bytes(arry1)
print(type(p))

array2=[1,3,4,5,6,7,89,99,88]
q=bytearray(array2)


print(type(q))

q[1]=100
print(q[1])

<class 'bytes'>
<class 'bytearray'>
100

In [ ]:
#None type data

a=None
print(a)
print(type(a))

None
<class 'NoneType'>

In [ ]:
#Sequence type(list, tuple, range)

#tuple holo immutable (mane data cgange kora jayna)
#list holo mutable, (mane data cgange kora jay)

#list

A=["tamanna",'tA',"tanshin","tanni",20]
print(A)
print(type(A))
A[0]= "tannu"
print(A)

#tuple

B=('delo','vsi',200,30,"paji")
print(B)
print(type(B))
# B[2]= "Delowar"(cannot asssign or change value in tuple)
print(B)

['tamanna', 'tA', 'tanshin', 'tanni', 20]
<class 'list'>
['tannu', 'tA', 'tanshin', 'tanni', 20]
('delo', 'vsi', 200, 30, 'paji')
<class 'tuple'>
('delo', 'vsi', 200, 30, 'paji')

In [ ]:
#Range and loop also
ran = range(10)
for i in ran:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
M = range(5)
for i in M:
  print(i)

0
1
2
3
4

In [ ]:
ran = range(6)
for i in ran:
    print(i)

0
1
2
3
4
5