In [ ]:
#User input


Username = input()

Password = input()
print(Username)
print(Password)


Username = input("Enter your Username:")
print(Username)
Password = input("Enter the password:")
print(Password)

Tamanna
9933
Tamanna
9933
Enter your Username:Tamanna
Tamanna
Enter the password:03884
03884

In [ ]:
X = int(input())
Y = int(input())

print("X =",X+Y)

4
5
X = 9

In [ ]:
#To take User input normally , which is always string

Num1=input()
print(Num1)
print(type(Num1))

456578
456578
<class 'str'>

In [ ]:
#Take uder input from user diff data type

Num =  (input())
print(Num)
print(type(Num))

Num2=str(input())
print(Num2)
print(type(Num2))

Num3=float(input())
print(Num3)
print(type(Num3))

Num=int(input())
print(Num)
print(type(Num))

5
5
<class 'int'>
Taamanna
Taamanna
<class 'str'>
6.44
6.44
<class 'int'>
33
33
<class 'int'>

In [ ]:
#User frindly

Num=int(input("Enter your Name:"))
Num1=int(input("Enter your Name:"))
C=Num+Num1

print("Sum is",C)

print(Num)
print(type(Num))

In [ ]:
#Multiple Input From User,,,,Takes String as input

a,b= input("Enter two values :").split()
print(a,b)
print(type(a))
print(type(b))

In [ ]:
#Multiple input ,,,,, Takes diff data type

A,B= map(int,input("Enter the values :").split())
print(A,B)
print(type(A))
print(type(B))

A,B= map(str,input("Enter the values :").split())
print(A,B)
print(type(A))
print(type(B))

Enter the values :4 5
4 5
<class 'int'>
<class 'int'>
Enter the values :Tamanna Tanshin
Tamanna Tanshin
<class 'str'>
<class 'str'>

In [ ]:
#Different way of printing

a=10.4
b=20
print("The sum of",a,"and",b,"is",a+b)
print("the sum of %f and %d is %d"%(a,b,a+b))
print("The sum of {0} and {1} is {2}".format(a,b,a+b))

The sum of 10.4 and 20 is 30.4
the sum of 10.400000 and 20 is 30
The sum of 10.4 and 20 is 30.4

In [ ]:
#Multiple input output

A=52.56
B=71.94
c=B/A
print(c)
print("%f"%c)
print("%.3f"%c)
A=10
B=20
print(A)
print(B)
print(A, end='')
print(B)

1.3687214611872145
1.368721
1.369
10
20
1020

In [ ]:
A=71.3
B=25.44
C= A/B
print(C)
print("%f"%C)
print("%.0f"%C)

2.8026729559748427
2.802673
3